<%= form_with model: @search, class: "form-group" do |form| %>
  <div class="actions col-md-1 col-centered">
    <div class="dropdown btn-group">
      <button class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown" type="button">
        Albums <span class="caret">
      </button>
      <ul class="dropdown-menu">
        <% @albums.each do |album| %>
          <li><%= link_to album[:album_name], searches_path(:search => album), method: :post %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
