<div class="page-results">
  <div class="album-image">
    <img src=<%= @image %> />
  </div>

  <p class="text-white">
    <strong>Artist: </strong> <%= @artist %>
  </p>

  <p class="text-white">
    <strong>Album: </strong><%= @album %>
  </p>

  <p class="text-white">
    <strong>Score: </strong><%= @score %>
  </p>
</div>