<div class="container">
  <h1 class="page-title">Throughput</h1>
  <p class="text-white">
    <strong>Artist: </strong> <%= @artist %>
  </p>

  <p class="text-white">
    <strong>Album: </strong><%= @album %>
  </p>

  <p class="text-white">
    <strong>Score: </strong><%= @search.score %>
  </p>
</div>