@import "bootstrap-sprockets";
@import "bootstrap";

.main-title {
	font-size: 80px;
	text-align: center;
	padding-top: 160px;
	padding-bottom: 90px;
	color: white;
}

.page-title {
	font-size: 60px;
	text-align: center;
	padding-top: 40px;
	color: white;
}

.text-white {
	color: white;
}

.col-centered {
    float: none;
    margin: 0 auto;
    padding: 0;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: #1ED760;
}

body {
	background-color: black;
}